.colorrosa {
  background-color: #FA58F4;
}
.colorazul {
  background-color: #0000FF;
}
.coloramarillo {
  background-color: #F7FE2E;
}
.colorverde {
  background-color: #00FF00;
}
.colorrojo {
  background-color: #FF0000;
}
.colornaranja {
  background-color: #FF8000;
}
.colorlila {
  background-color: #8000FF;
}
.primerdiv {
  height: 60px;
}
.segundodiv {
  height: 300px;
}
.segundodivderecha {
  margin-top: 50px;
  height: 200px;
}
.segundodivizquierda {
  height: 100;
  margin-top: 150px;
}
.tercerdiv {
  height: 60px;
}
.quartodiv {
  height: 150px;
}
.quintodiv {
  height: 200px;
}
